:root {
  --font-family: 'FiraCode', monospace;
  --font-size: 10px;
  --font-weight: 500;
  --line-height: 1.4;

  --space-xxs: 4px;
  --space-xs: 8px;
  --space-s: 12px;
  --space-m: 18px;
  --space-l: 24px;
  --space-xl: 36px;
  --space-2xl: 48px;
  --space-3xl: 64px;
}
